<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script type="module" src="scripts/index.js"></script>
    <!-- <link rel="stylesheet" href="index.css"> -->

</head>

<body>
    unselected:
    <input type="text" id="unselected">

    selected:
    <input type="text" id="selected">

    <button id="exportButton">export</button>

    <!-- <button>add row</button>
    <button>add column</button>
    <button>remove row</button>
    <button>remove column</button> -->
    <!-- <table></table> -->

</body>

</html>