.dice {
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    transition: transform 1s;
    /* position: absolute; */
    /* left: 150px; */
}

.dot {
    position: absolute;
    width: 20px;
    height: 20px;
    margin: -10px 5px 5px -10px;
    border-radius: 20px;
    background-color: white;
}

.side {
    position: absolute;
    background-color: black;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    line-height: 2em;
}